body {
	padding-top: 50px;
}
div#ribbon {
	position: fixed;
	z-index: 1050;
	top: 40px;
	right: 0;
	width: 130px;
	height: 140px;
	overflow: hidden;
}
div#ribbon span {
	z-index: 100;
	display: block;
	width: 250px;
	margin: 40px 0 0 -50px;
	padding: 3px 0;
	border-top: 2px solid #EF4444;
	border-bottom: 2px solid #EF4444;
	background: red;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: -1px;
	text-shadow: 0 0 10px #522600;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px,rgba(0, 0, 0, 0.07) 0 0 3px 1px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px,rgba(0, 0, 0, 0.07) 0 0 3px 1px inset;
	box-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
}
.navbar .brand {
	color: #08C;
}
.page-header {
	border-bottom-color: #666;
}
.footer {
	padding-top: 60px;
}
.nav-collapse {
	padding-left: 60px;
}
label {
	color: #CCC;
}
.form-actions {
	border-top-color: #333;
}